<!DOCTYPE html>
<html lang=”fr”>

<% include squelette/header.ejs %>
<body>

<div class="container">
    <div class="jumbotron">
        <h2>Modifier un Produit</h2>

    </div>

    <% resultat.forEach(function(item){ %>
    <form action="/gestion/produit/modifier/<%= item.id%>" method="POST" encType="multipart/form-data">
        <input type="hidden" name="_method" value="put"/>

        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" value="<%= item.nom%>" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" value="<%= item.description%>" required>
        </div>



        <div class="form-group">
            <label for="prix">Prix:</label>
            <input type="number" class="form-control" id=prix name="prix" value="<%= item.prix%>" required>
        </div>

        <div class="form-group">
            <label for="image">Modifier l'image:</label>
            <input type="file" id="image" name="image"  required>
        </div>

        <div class="form-group">
            <label for="categorie">Categorie:</label>
            <input type="text" class="form-control" id="categorie" name="categorie" value="<%= item.categorie%>" required>
        </div>



        <button type="submit" class="btn btn-default">Valider</button>
    </form>



    <%}) %>





</div>



</body>
</html>
